* {
  padding: 0;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.laranja {   
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  width: 260px; 
  height: 423px;
  background-color: orange;
  border-bottom-left-radius: 10px ;
  border-top-left-radius: 10px ;
}
.laranja p {
  width: 230px;
}
.laranja,
p,
h1 {
    color: white;
  padding-top: 30px;
}



.sedans {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botaosedan {
    padding-top: 75px;
  }

.mudarbotao {
    color: orange;
    width: 150px;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px ;
    cursor: pointer;
}



/* SUVS */





.azulclaro {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    width: 260px;
    height: 423px;
    background-color: #016972;
  }
 .azulclaro p {
    width: 230px;
  }
  .azulclaro,
  p,
  h1 {
      color: white;
    padding-top: 30px;
  }
  
  
  
  .suvs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botaosuvs {
      padding-top: 75px;
    }
  
  .mudarbotaosuv {
      color: #016972;
      width: 150px;
      height: 40px;
      border: 2px solid white;
      border-radius: 20px ;
      cursor: pointer;
  }


  /* LUXURY */


  
.azulescuro {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    width: 260px;
    height: 423px;
    background-color: #00403F;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px ;
  }
 .azulescuro p {
    width: 230px;
  }
  .azulescuro,
  p,
  h1 {
      color: white;
    padding-top: 30px;
  }
  
  
  
  .luxury {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botaoluxury {
      padding-top: 75px;
    }
  
  .mudarbotaoluxury {
      color: #00403F;
      width: 150px;
      height: 40px;
      border: 2px solid white;
      border-radius: 20px ;
      cursor: pointer;
  }

